@mixin roundBox {
  border-radius: 10px;
  background: #ccc;
  border: 1px solid #000;
}

.sideArea {
  @include roundBox;
}

.bottomArea {
  @include roundBox;
}

.main {
  @mixin mainBox {
    margin-bottom: 10px;
  }

  .content {
    @include mainBox;
  }
}
